.employee__contact {
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 26px;
color: var(--color-link);
text-decoration: none;
}
.employee__contact:focus{
  outline: none;
  border: 3px solid var(--color-additional);
}