.button_colored {
  background-color: var(--color-primery);
  color: var(--color-light);
  border: 1px solid var(--color-primery);
}
.button_colored:hover {
  background-color: var(--color-additional);
  border-color: var(--color-additional);
  }