.layout-4-column {
  display: flex;
 justify-content: space-between;


}
@media (max-width : 768px) {
	/* стили для планшета */
  .layout-4-column {
flex-wrap: wrap;
justify-content: space-evenly;
  }

}