.contact-us__content {
  flex-basis: 50%;
  padding-right: 47px ;
  margin-right: 22px;

}
@media (max-width : 768px) {
	/* стили для планшета */
  .contact-us__content {
    padding: 0;
    margin: 0;
    flex-basis: 90%;

    }
}