.contact-us__form {
  flex-basis: 50%;
  margin-left: 22px;

}
@media (max-width : 768px) {
	/* стили для планшета */
  .contact-us__form {
    width: 90%;
    margin: 0;
    margin-top: 30px;
   

    }
}