.promo__subtitle {
  max-width: 487px;
  font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}
@media all and (max-width: 768px) {
  .promo__subtitle {
    text-align: center;
    min-width: 100%;
  }}