.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width : 768px) {
	/* стили для планшета */
  .header__wrapper {
  flex-direction: row;
  justify-content:space-evenly;
  padding-right: 90px;

  
    }
}