.tools__wrapper {
  width: 100%;
  background-image: url("../../../img/background/tools-bg.svg");
  background-position: center bottom;
  background-size: calc(100% + 60px);
  background-repeat: no-repeat;
  padding-bottom: 90px;
}